[submodule "vendor/sweph"]
	path = vendor/sweph
	url = https://github.com/ashutosh108/sweph.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/date"]
	path = vendor/date
	url = https://github.com/ashutosh108/date.git
[submodule "vendor/tinyfsm"]
	path = vendor/tinyfsm
	url = https://github.com/digint/tinyfsm.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/ashutosh108/fmt
